#app {
  width: 100%;
  height: 100vh;
}

.main-container {
  display: grid;
  grid-template-columns: 15% 1fr;
  background-color: $bg-color;
  height: 100%;

  .sidenav {
    background-color: #2C2C4A;
  }
}