
#app {
  // width: 100%;
  background-color: $bg-color;
}

.av-container {
  padding: $padding * 2 !important;
}

.dashboard {
  @include flexbox(row, initial, initial);
  height: 100%;
  transition: all 0.3s ease;

  &__left {
    background-color: #2C2C4A;
    width: $sidenav-width;
    position: fixed;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  &__right {
    flex: 1;
    .site-main {
      padding-top: 60px;
      padding-left: $sidenav-width;
      transition: all 0.3s ease;
    }
  }
}

.page {
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  &-title {
    font-size: 20px;
  }
  &-subtitle {
    @include flexbox(row, center, initial);
    font-size: $font-sm;

    svg {
      margin-left: $margin;
    }
  }
}


@media screen and (max-width: 768px) {
  .nav-control {
    button {
      display: block !important;
    }
  }
  .dashboard {
    &__left {
      width: 0;
    }

    .site-main {
      padding-left: 0;
    }

    &.sidenav-open {
      .dashboard {
        &__left {
          width: $sidenav-width;
        }
        &__right {
          .site-header {
            .nav-control {
              margin-left: $sidenav-width !important;
              transform: scaleX(-1)
            }
          }
        }
      }
    }
  }
}