@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'utils/all';
@import 'page/all';
@import 'components/all';

body {
  @include flexbox(row, center, center);
}