// colors
$primary: #007EFF;
$success: #02B271;
$text-main-color: #19193E;
$border-color: #C4C4C4;
$bg-color: #edf1f5;
$box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);

// spacing and padding
$padding: 8px;
$margin: 8px;

// font sizes
$font-xs: 12px;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 24px;
$font-xl: 32px;