.b-table {
  font-family: 'Poppins', sans-serif;
  color: $text-main-color !important;

  th {
    div {
      color: $text-main-color;
      font-size: $font-xs;
      padding-inline: $padding !important;
    }
    span.sr-only {
      display: none;
    }
  }

  td {
    padding-inline: $padding * 2 !important;
  }

  .date {
    color: #A3A3A3;
  }
}

.table-striped > tbody > tr {
  background-color: #fff;
  border-color: transparent;
  &:nth-of-type(odd) {
    --bs-table-accent-bg: unset !important;
    background-color: #fafbff;
  }
}